<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.ablissadrad">

      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
      <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logoadrad"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Category_docs_activity"></activity>
        <activity
            android:name=".DocumentCategoryMain"
            android:label="@string/title_activity_document_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Bookshareview" />
        <activity android:name=".Document_Details" />
        <activity
            android:name=".main.Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.Information"
            android:label="@string/title_activity_information"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.Category_main"
            android:label="@string/title_activity_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.Forum"
            android:label="@string/title_activity_forum"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".main.CategoryActivity" />
        <activity android:name=".main.Signup" />
        <activity android:name=".main.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>